@plugin "@tailwindcss/typography";

@layer base {
  /* ===== Bear Blog style article typography ===== */
  .app-prose {
    @apply prose max-w-none;

    line-height: 1.6;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    th {
      color: var(--heading);
      @apply mb-3;
    }

    h3 {
      @apply italic;
    }

    p,
    strong,
    ol,
    ul,
    figcaption,
    table,
    code {
      @apply text-foreground;
    }

    strong,
    b {
      color: var(--heading);
    }

    a {
      @apply text-accent wrap-break-word no-underline hover:underline focus-visible:underline;
    }

    ol,
    ul {
      @apply overflow-x-clip;
      overflow-wrap: anywhere;
    }

    hr {
      border: 0;
      border-top: 1px dashed var(--muted-foreground);
    }

    img {
      @apply mx-auto;
      max-width: 100%;
    }

    img[role="button"] {
      @apply cursor-zoom-in;

      &:focus-visible {
        @apply outline-2 outline-offset-2 outline-dashed;
      }
    }

    figcaption {
      @apply opacity-75;
    }

    table {
      @apply block max-w-full overflow-x-auto;

      th,
      td {
        @apply border-border min-w-28 border p-2;
      }

      th {
        @apply py-1.5;
      }
    }

    code {
      background-color: var(--muted);
      color: var(--heading);
      @apply rounded p-1 font-mono wrap-break-word before:content-none after:content-none;
      padding: 2px;
    }

    .astro-code code {
      @apply flex-[1_0_100%] bg-inherit p-0;
    }

    blockquote {
      border-left: 1px solid #999;
      color: var(--foreground);
      padding-left: 20px;
      font-style: italic;
      @apply wrap-break-word opacity-90;
    }

    time {
      font-family: monospace;
      font-style: normal;
      font-size: 15px;
    }

    details:not(.callout) {
      @apply text-foreground inline-block cursor-pointer select-none [&_p]:hidden [&_ul]:my-0!;
    }

    summary {
      @apply focus-visible:outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-dashed;
    }

    pre {
      @apply focus-visible:outline-accent focus-visible:border-transparent focus-visible:outline-2 focus-visible:outline-dashed;
    }
  }

  /* ===== Code Blocks & Syntax Highlighting ===== */
  .astro-code {
    background-color: var(--muted);
    color: var(--heading);
    @apply flex rounded text-(--shiki-light) [&_span]:text-(--shiki-light);
    padding: 1px 15px;
  }

  html[data-theme="dark"] .astro-code {
    @apply text-(--shiki-dark) [&_span]:text-(--shiki-dark);
  }

  /* Styles for Shiki transformers */
  /* https://shiki.style/packages/transformers */
  .astro-code {
    .line.diff.add {
      @apply relative inline-block w-full bg-green-400/20 before:absolute before:-left-3 before:text-green-500 before:content-['+'];
    }
    .line.diff.remove {
      @apply relative inline-block w-full bg-red-500/20 before:absolute before:-left-3 before:text-red-500 before:content-['-'];
    }
    .line.highlighted {
      @apply inline-block w-full bg-slate-400/20;
    }
    .highlighted-word {
      @apply border-border rounded-sm border px-0.5 py-px;
    }
  }
}
